*-midi.ly
*-systems.tex
*-systems.texi
*.afm
*.aux
*.eps
*.log
*.midi
*.orig
*.pdf
*.ps
*.pyc
*.rej
*.svg
*.tfm
*~
.dotest
.gdbinit
.htaccess
/.sconf_temp
/.sconsign.dblite
/GNUmakefile
/scons.cache
/x
?.*
AUTHORS.txt
INSTALL.txt
TAGS
\#*
a.out
aclocal.m4
autom4te.cache
config.hh
config.log
config.make
config.status
config.status.lineno
configure
gcstat*.scm
lily-[0-9a-f][0-9a-f][0-9a-f]*
out-scons
tags
test-output-distance
*.gcov
*.gcda
*.gcno
