config.hh
config.make
config.status
config.status.lineno
config.log
*~
GNUmakefile
aclocal.m4
autom4te.cache
configure
*.ps
*.eps
*.pdf
TAGS
tags
.gdbinit
?.*
*.midi
\#*
lily-[0-9][0-9][0-9]*
gcstat*.scm
*.aux
*.svg
*.pyc
*.log
.htaccess
*.tfm
*.afm
*.orig
*.rej
*-systems.texi
*-systems.tex
*-midi.ly
a.out
.dotest
/.sconf_temp
out-scons
/.sconsign.dblite
/scons.cache
