*-
*-midi.ly
*-systems.tex
*-systems.texi
*.600pk
*.afm
*.aux
*.checksum
*.eps
*.gcda
*.gcno
*.gcov
*.graph
*.log
*.midi
*.new
*.orig
*.patch
*.pats
*.profile
*.pyc
*.rej
*.signature
*.stacks
*.svg
*.tfm
*~
*~*
.\#*
.dotest
.gdbinit
.htaccess
/*.abc
/*.html
/*.ly
/*.pdf
/*.png
/*.po
/*.ppm
/*.ps
/.sconf_temp
/.sconsign.dblite
/GNUmakefile
/local.make
/scons.cache
/x
?.*
AUTHORS.txt
INSTALL.txt
TAGS
\#*
\#.*
a.out
aclocal.m4
autom4te.cache
config-*.hh
config-*.make
config.hh
config.log
config.make
config.status
config.status.lineno
configure
gcstat*.scm
lily-[0-9a-f][0-9a-f][0-9a-f]*
lsr-unsafe.txt
nohup.out
out
out-cov
out-scons
out-test
pats
tags
test-output-distance
Documentation/user/lilypond
input/lsr/lilypond-snippets
