Andrew Hawryluk <ahawryluk@gmail.com>
Andrew Hawryluk <andrew@obi-wan.(none)>
Andrew Wilson <andrew@rivendale.net>
Arjan Bos <arjan.bos@hetnet.nl>
Benkő Pál <benko.pal@gmail.com>
Boris Shingarov <b1@shingarov.com>
Boris Shingarov <shingarov@gmail.com>
Carl D. Sorensen <carldsorensen>
Carl D. Sorensen <c_sorensen@byu.edu>
Carl D. Sorensen <carl.d.sorensen@gmail.com>
Colin Campbell <colinpkcampbell@gmail.com>
Chris Snyder <csnyder@adoromusicpub.com>
Damien Heurtebise <famille.heurtebise@free.fr>
Dan Eble <nine.fierce.ballads@gmail.com> <dan@faithful.be>
Daniel Johnson <il.basso.buffo@gmail.com>
Daniel Tonda Castillo <daniel.tonda@gmail.com>
David Kastrup <dak@gnu.org>
Dénes Harmath <harmathdenes@gmail.com>
Dénes Harmath <thsoft@thsoft-laptop.(none)>
Dieter Grollmann <groll-ay@bluewin.ch>
Ed Catmur <ed@capella.catmur.co.uk>
Erik Sandberg <erik>
Erlend Aasland <erlenda>
Erlend Aasland <erlend.aasland@mac.com>
Erlend Aasland <erlenda@gmail.com>
Erlend Aasland <erlend@iMac.local>
Eyolf Østrem <eyolf@oestrem.com>
Francisco Vila <francisco.vila@hispalinux.es> # AKA Paco Vila
Francisco Vila <fravd@salvia.(none)>
Francisco Vila <fravd@salvia.org>
Francisco Vila <paconet.org@gmail.com>
Frédéric Bron <frederic.bron@m4x.org>
Graham Percival <gpercival>
Graham Percival <gperciva@gperciva-desktop.(none)>
Graham Percival <gperciva@opihi.cs.uvic.ca>
Graham Percival <gperciva@p214-046.public.uvic.ca>
Graham Percival <gperciva@p214-056.public.uvic.ca>
Graham Percival <gperciva@p214-068.public.uvic.ca>
Graham Percival <gperciva@p214-136.public.uvic.ca>
Graham Percival <gperciva@p214-191.public.uvic.ca>
Graham Percival <gperciva@p234-016.public.uvic.ca>
Graham Percival <gperciva@p234-052.public.uvic.ca>
Graham Percival <gperciva@p234-072.public.uvic.ca>
Graham Percival <gperciva@p234-084.public.uvic.ca>
Graham Percival <gperciva@p234-137.public.uvic.ca>
Graham Percival <gperciva@p234-154.public.uvic.ca>
Graham Percival <gperciva@p234-155.public.uvic.ca>
Graham Percival <gperciva@p234-167.public.uvic.ca>
Graham Percival <gperciva@p234-172.public.uvic.ca>
Graham Percival <gperciva@p234-192.public.uvic.ca>
Graham Percival <gperciva@p234-194.public.uvic.ca>
Graham Percival <gperciva@p234-197.public.uvic.ca>
Graham Percival <gperciva@p234-198.public.uvic.ca>
Graham Percival <gperciva@p234-207.public.uvic.ca>
Graham Percival <gperciva@p234-215.public.uvic.ca>
Graham Percival <gperciva@p234-219.public.uvic.ca>
Graham Percival <gperciva@p234-231.public.uvic.ca>
Graham Percival <gperciva@p234-235.public.uvic.ca>
Graham Percival <gperciva@p234-248.public.uvic.ca>
Graham Percival <gperciva@p236-151.public.uvic.ca>
Graham Percival <gperciva@p236-174.public.uvic.ca>
Graham Percival <gperciva@p236-188.public.uvic.ca>
Graham Percival <gperciva@p236-194.public.uvic.ca>
Graham Percival <gperciva@p236-202.public.uvic.ca>
Graham Percival <gperciva@p236-222.public.uvic.ca>
Graham Percival <gperciva@p236-242.public.uvic.ca>
Graham Percival <gperciva@p237-137.public.uvic.ca>
Graham Percival <gperciva@p237-147.public.uvic.ca>
Graham Percival <gperciva@p237-158.public.uvic.ca>
Graham Percival <gperciva@p237-167.public.uvic.ca>
Graham Percival <gperciva@p237-172.public.uvic.ca>
Graham Percival <gperciva@p237-179.public.uvic.ca>
Graham Percival <gperciva@p237-182.public.uvic.ca>
Graham Percival <gperciva@p237-192.public.uvic.ca>
Graham Percival <gperciva@p237-203.public.uvic.ca>
Graham Percival <gperciva@p237-206.public.uvic.ca>
Graham Percival <gperciva@p237-220.public.uvic.ca>
Graham Percival <gperciva@p237-232.public.uvic.ca>
Graham Percival <gperciva@p237-236.public.uvic.ca>
Graham Percival <gperciva@p237-237.public.uvic.ca>
Graham Percival <gperciva@p242-059.public.uvic.ca>
Graham Percival <gperciva@p246-195.public.uvic.ca>
Graham Percival <gperciva@sapphire.(none)>
Graham Percival <gperciva@spark.(none)>
Graham Percival <gperciva@tsubasa.gateway.2wire.net>
Graham Percival <gperciva@tsubasa.local>
Graham Percival <gperciva@tsubasa.(none)>
Graham Percival <gpermus@gmail.com>
Graham Percival <graham@percival-music.ca>
Graham Percival <lilypond@server.kainhofer.com>
Graham Percival <root@tsubasa.(none)>
Graham Percival <gperciva@futoi.(none)>
Hajo Dezelski <dl1sdz@gmail.com>
Han-Wen Nienhuys and Jan Nieuwenhuizen <fred> # see note below
Han-Wen Nienhuys <hanwen>
Han-Wen Nienhuys <hanwen@lilypond.org>
Han-Wen Nienhuys <hanwen@xs4all.nl>
Han-Wen Nienhuys <uid67283> #?
Heikki Junes <hjunes>
Heikki Junes <hjunes@gmail.com>
Heikki Junes <hjunes@hjunes-laptop.(none)>
Heikki Tauriainen <g034737@welho.com>
Hu Haipeng <hhpmusic@163.com>
Ian Hulin <ian@hulin.org.uk>
James E. Bailey <derhindemith@googlemail.com>
James Lowe <james@james-lilybunto.(none)>
James Lowe <james@james-lily.(none)>
James Lowe <james.lowe@datacore.com>
James Lowe <jlowe@james-ubuntu.(none)>
Janek Warchoł <janek.lilypond@gmail.com>
Janek Warchoł <lemniskata.bernoullego@gmail.com>
Janek Warchoł <lemniskata.bernoulliego@gmail.com>
Jan Nieuwenhuizen <jan>
Jan Nieuwenhuizen <janneke>
Jan Nieuwenhuizen <janneke@gnu.org>
Jan Nieuwenhuizen <janneke@peder.flower>
Jay Anderson <horndude77@gmail.com>
Jean-Charles Malahieude <jcharles@localhost>
Jean-Charles Malahieude <lilyfan-AT-orange-DOT-fr>
Jean-Charles Malahieude <lilyfan@freesurf.fr>
Jean-Charles Malahieude <lilyfan@orange.fr>
Jean-Charles Malahieude <lolyfan-AT-wanadoo-DOT-fr>
Jean-Charles Malahieude <lolyfanATwanadooDOTfr>
Jean-Charles Malahieude <lolyfan@wanadoo.fr>
Joe Neeman <jneem>
Joe Neeman <joe@joe-laptop.(none)>
Joe Neeman <joe@joe.(none)>
Joe Neeman <joe@mercury.(none)>
Joe Neeman <joeneeman@gmail.com>
John Mandereau <john.mandereau@free.fr>
John Mandereau <john.mandereau@gmail.com>
John Mandereau <jomand>
John Mandereau <lilydev@freemousse.(none)>
Jonathan Kulp <jon@bashtop.(none)>
Jonathan Kulp <jonlancekulp@gmail.com>
Joseph Wakeling <joseph.wakeling@webdrake.net>
Jürgen Reuter <reuter_j@web.de> <reuter>
Jürgen Reuter <reuter_j@web.de> <reuter@ipd.uka.de>
Jürgen Reuter <reuter_j@web.de> <j@web.de>
Keith OHara <k-ohara5a5a@oco.net>
Kevin Dalley <kevin@kelphead.org>
Kieren MacMillan <kieren_macmillan@sympatico.ca>
Kurt Kroon <kroon@winfirst.com>
Laura Conrad <lconrad@laymusic.org>
Marc Hohl <marc@hohlart.de>
Mark Polesky <markpolesky@yahoo.com>
Martin Tarenskeen <m.tarenskeen@zonnet.nl>
Mats Bengtsson <mabe@drongo.s3.kth.se>
Mats Bengtsson <mabe@violin.s3.kth.se>
Mats Bengtsson <matsb>
Matthew Rowles <rowlesmr@gmail.com>
Matthias Kilian <kili@outback.escape.de>
Matthieu Jacquot <milarepa7@gmail.com>
Maximilian Albert <Anhalter42@gmx.de>
Maximilian Albert <cilix@daphne.(none)>
Maximilian Albert <cilix@dike.(none)>
Maximilian Albert <maximilian.albert@gmail.com>
Maximiliano García de Veas <maxi@intelacer.(none)>
Maximiliano García de Veas <mxgdvg@yahoo.it>
Michael Käppler <xmichael-k@web.de>
Michael Welsh Duggan <md5i@maru.(none)>
Milan Zamazal <pdm@brailcom.org>
Neil Puttock <n.puttock@gmail.com>
Nicolas Sceaux <nicolas@robert.local>
Nicolas Sceaux <nicolas.sceaux@free.fr>
Nicolas Sceaux <nsceaux>
Patrick McCarty <pnorcks@gmail.com>
Patrick Schmidt <p.l.schmidt@gmx.de>
Paul Jarc <prj@po.cwru.edu>
Pedro Kroger <kroger>
Ralph Palmer <palmeer.r.violin@gmail.com>
Ralph Palmer <palmer.r.violin@gmail.com>
Ralph Palmer <palmer.r.violin@treda.co.uk>
Reinhold Kainhofer <reinhold@eee.(none)>
Reinhold Kainhofer <reinhold@einstein.kainhofer.com>
Reinhold Kainhofer <reinhold@einstein.(none)>
Reinhold Kainhofer <reinhold@kainhofer.com>
Risto Vääräniemi <risvaara@gmail.com>
Rune Zedeler <rune@zedeler.dk>
Rune Zedeler <rz>
Rune Zedeler <rz@daimi.au.dk>
Simon Bailey <binabik@gmail.com>
Simon Bailey <binabik@pc6143-c703.uibk.ac.at>
Stefan Weil <weil@mail.berlios.de>
Till Rettig <till.rettig@gmx.de>
Till Rettig <till@urmeli.(none)>
Travis Briggs <briggs.travis@gmail.com>
Trevor Bača <trevorbaca@gmail.com>
Trevor Daniels <tdanielsmusic@gmail.com>
Trevor Daniels <t.daniels@treda.co.uk>
Trevor Daniels <Trevor@Trevor-Laptop>
Valentin Villenave <valentin@localhost.(none)>
Valentin Villenave <valentin@villenave.net>
Valentin Villenave <v.villenave@gmail.com>
Vegard Nossum <vegard@peltkore.net>
Werner Lemberg <wl>
Werner Lemberg <wl@gnu.org>
Werner Lemberg <wl@linux-nvf0.site>
Werner Lemberg <wl@rigel.orion>
Werner Lemberg <wl@rigel.site>
Wilbert Berendsen <lilykde@xs4all.nl>
Wilbert Berendsen <wbsoft@xs4all.nl>
Yoshiki Sawada <sawada@ubuntu.ubuntu-domain>
Yoshiki Sawada <sawada.yoshiki@gmail.com>

# Note on <fred>: http://lists.gnu.org/archive/html/lilypond-devel/2009-02/msg00035.html
