[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This is just a mirror of GNU LilyPond repository.  If you'd like to contribute to LilyPond, please look at http://www.lilypond.org/development.html
[access "refs/*"]
	owner = group user/Han-Wen Nienhuys (hanwen)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Han-Wen Nienhuys (hanwen)
	label-Verified = -1..+1 group user/Han-Wen Nienhuys (hanwen)
	push = group user/Han-Wen Nienhuys (hanwen)
	read = group user/Han-Wen Nienhuys (hanwen)
	rebase = group user/Han-Wen Nienhuys (hanwen)
	removeReviewer = group user/Han-Wen Nienhuys (hanwen)
	submit = group user/Han-Wen Nienhuys (hanwen)
[access "refs/heads/*"]
	create = group user/Han-Wen Nienhuys (hanwen)
	push = +force group user/Han-Wen Nienhuys (hanwen)
	pushMerge = group user/Han-Wen Nienhuys (hanwen)
	read = group user/Han-Wen Nienhuys (hanwen)
[access "refs/tags/*"]
	push = group user/Han-Wen Nienhuys (hanwen)
	push = +force group user/Han-Wen Nienhuys (hanwen)
