/**********************************************************/
/*                  GENERAL INFORMATION                   */
/**********************************************************/

/* It has been requested that each web manual be styled using a
   different color. To faciliate that, each manual is being
   assigned a hue value on the HSB color chart. All specific
   colors for a manual will be shades and tints of that hue.

   Manual            Color          Hue
   learning          green          120
   music-glossary
   essay

   notation          blue           205
   usage             yellow         50
   snippets

   changes
   extending         red            0
   internals         purple         280

   contributor       black          doesn't matter - desat

/**********************************************************/
/*                  PAGE-WIDE SETTINGS                    */
/**********************************************************/

html {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  font-size: 100%;
  line-height: 1.125;
  color: #000;
  background-color: #fff;
}

/***********************************************************/
/*                      HEADERS                            */
/***********************************************************/

.chapter, .section, .subsection, .subsubsection,
.appendix, .appendixsec, .appendixsubsec,
.unnumbered, .unnumberedsec, .unnumberedsubsec, .unnumberedsubsubsec,
.subheading, .subsubheading {
  color: rgb(32, 74, 135);
  padding-bottom: 0.15em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.settitle {
  background: #657f40;
  color: white;
  font-size: 2em;
  text-align: center;
  padding: 0.4em 0.5em;
  border: solid black;
  border-width: 1px 0;
  margin: 0 0 10px 0;
}

body.learning    .settitle { background-color: #407f40; }
body.notation    .settitle { background-color: #40657f; }
body.usage       .settitle { background-color: #7f7f33; }
body.extending   .settitle { background-color: #7f4040; }
body.internals   .settitle { background-color: #6a407f; }
body.contributor .settitle { background-color: #000000; }

.chapter, .appendix, .unnumbered,
.section, .appendixsec, .unnumberedsec,
.subsection, .appendixsubsec, .unnumberedsubsec,
.subsubsection {
  font-size: 1.7em;
  margin-top: 0.9em;
}

.subheading, .unnumberedsubsubsec {
  font-size: 1.5em;
  margin-top: 0.9em;
}

.subheading {
  border-top: 1px solid rgb(200, 200, 200);
  padding-top: 0.8em;
}

.subsubheading {
  font-size: 1.15em;
  font-weight: bold;
  margin-top: 1.6em;
}

.chapheading {
  position: absolute;
  height: 0;
  overflow: hidden;
  text-indent: -999em;
}

/***********************************************************/
/*                       LINKS                             */
/***********************************************************/

a:link {
  color: #0c51ab;
}

a:visited {
  color: #804f01;
}

a:active {
  color: #278800;
}

a:hover {
  color: #0105ad;
}

/***********************************************************/
/*                  BLOCK FORMATTING                       */
/***********************************************************/

blockquote, .smallexample {
  width: 96%;
  padding: 0;
  border: solid #b1d281;
  border-width: 1px 1px 1px 5px;
  margin: 1em auto;
  background-color: white;
}

body.learning    blockquote, body.learning .smallexample { border-color: #00ff00; }
body.notation    blockquote, body.notation .smallexample { border-color: #0095ff; }
body.usage       blockquote, body.usage .smallexample { border-color: #ffff00; }
body.extending   blockquote, body.extending .smallexample { border-color: #ff0000; }
body.internals   blockquote, body.internals .smallexample { border-color: #aa00ff; }
body.contributor blockquote, body.contributor .smallexample { border-color: #000000; }

blockquote p, pre.smallexample {
  padding: 1em;
  margin: 0;
}

blockquote blockquote {
  border: none;
}

.verbatim, .example, .lisp {
  font-size: 1em;
  padding: 1em;
  margin: 0;
}

#main hr {
  height: 0;
  padding: 0;
  border: 0;
  margin: 0;
  text-indent: -999em;
}

table.cartouche {
  background: #f5f5dc;
  width: 85%;
  border-collapse: collapse;
  padding: 0 0.5em;
  border: 2px solid #8f5902;
  margin: 0 auto 1em;
}

body.learning    table.cartouche { background-color: #cfe5cf; border: 2px solid #7db27d; }
body.notation    table.cartouche { background-color: #cfdce5; border: 2px solid #7d9cb2; }
body.usage       table.cartouche { background-color: #e5e2b8; border: 2px solid #b2b27d; }
body.extending   table.cartouche { background-color: #e5cfcf; border: 2px solid #b27d7d; }
body.internals   table.cartouche { background-color: #decfe5; border: 2px solid #a17db2; }
body.contributor table.cartouche { background-color: #e5e5e5; border: 2px solid #b2b2b2; }

table.cartouche p {
  padding: 1em;
  margin: 0;
}

table.cartouche td {
  border: none;
}

/***********************************************************/
/*                    MAIN CONTENT                         */
/***********************************************************/

div#main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 27%;
  padding: 0;
  margin: 0;
  overflow: auto;
}

div#main li {
  padding: 0 1em 0.5em 0;
}

div#main ul {
  margin: 0;
  padding-left: 3em;
}

h1, h2, h3, h4, p, table, address, dt {
  padding-left: 18px;
  padding-right: 18px;
}

p {
  margin: 1em 0;
}

#languages {
  padding: 0.5em 1em;
  margin: 0;
}

pre.menu-comment {
  font-size: 1em;
  padding-top: 1em;
  padding-bottom: 0;
  margin: 0;
}

#main .contents li {
  padding-bottom: 0;
}

#main .contents > ul {
  margin-bottom: 1em;
}

/***********************************************************/
/*                    TOC SIDEBAR                          */
/***********************************************************/

div#tocframe {
  position: absolute;
  top: 0;
  right: 73%;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  overflow: auto;
  background: #dce35cf;
  z-index: 100;
  list-style-type: none;
  font-size: 0.83em;
  line-height: 1.3;
}

body.learning    div#tocframe { background-color: #cfe5cf; }
body.notation    div#tocframe { background-color: #cfdce5; }
body.usage       div#tocframe { background-color: #e5e5b8; }
body.extending   div#tocframe { background-color: #e5cfcf; }
body.internals   div#tocframe { background-color: #decfe5; }
body.contributor div#tocframe { background-color: #e5e5e5; }

@media screen {
  body > div#tocframe {
    position: fixed
  }
}

div#tocframe a:link, div#tocframe a:visited {
  color: black;
  text-decoration: none;
}

div#tocframe a:hover {
  color: #666666;
  text-decoration: underline;
}

div#tocframe p.toc_uplink {
  font-size: 1em;
  line-height: 1.125;
  background: #c9ccc4;
  padding: 0.25em 1em 0.25em 0.5em;
  border-bottom: 1px solid black;
  margin: 0;
}

div#tocframe p.toc_uplink a:link,
div#tocframe p.toc_uplink a:visited {
  color: #1c1c1b;
}

div#tocframe p.toc_uplink a:hover {
  color: #000;
}

div#tocframe h4 {
  font-size: 1em;
  line-height: 1.125;
  font-weight: bold;
  font-style: italic;
  padding: 0.75em 0.5em 0 0.5em;
  margin: 0;
}

#tocframe .contents {
  background-color: transparent;
  list-style-type: none;
  padding: 0;
  border: 0;
  margin: 0;
}

#tocframe ul.toc {
  padding: 0.25em 0.5em 1em 0.5em;
  list-style-type: none;
  margin: 0;
}

#tocframe ul.toc ul.toc {
  padding: 0;
  margin: 0;
}

#tocframe ul.toc li {
  padding: 0;
  margin: 0;
}

#tocframe ul.toc > li {
  font-size: 1em;
}

#tocframe ul.toc li li {
  padding-left: 1em;
}

li.toc_current {
  font-weight: bold;
  font-style: italic;
}

li.toc_current ul {
  font-weight: normal;
  font-style: normal;
  background: transparent;
}

/***********************************************************/
/*                     NAVIGATION                          */
/***********************************************************/

.nav_table {
  width: 100%;
  background: #c9ccc4;
  font-size: 0.83em;
  border-collapse: collapse;
  padding: 0;
  border: none;
  margin: 0;
}

.nav_table a:link, .nav_table a:visited {
  color: #1c1c1b;
  text-decoration: none;
}

.nav_table a:hover {
  color: #000;
  text-decoration: underline;
}

.nav_table tr, .nav_table a {
  padding: 0;
  margin: 0;
}

.nav_table td {
  padding: 0.25em;
  margin: 0;
}

div.header {
  background: #b1d281;
  text-align: center;
  padding: 0.5em;
  border-bottom: 1px solid #7b925a;
  margin: 0;
  height: auto;
}

div.header h1 {
  font-size: 2em;
  padding: 0.25em;
  margin: 0;
}

div.subheader {
  background: #ddd;
  padding: 0;
  margin: 0;
  text-align: center;
}

div.subheader p {
  padding: 0.5em;
  margin: 0;
}

table#navigation {
  line-height: 1.5;
  padding: 0;
  margin: 1em auto;
}

table#navigation td {
  padding: 0.5em 0.75em;
}

table#navigation ul {
  padding-left: 0.5em;
  margin: 0;
}

table .title {
  font-weight: bold;
}

.footer {
  background: #657f40;
  font-size: 0.8em;
  padding: 0.2em 0;
  border: solid white;
  border-width: 0 0 5px 0;
  margin: 0;
  color: white;
}

body.learning    .footer { background-color: #407f40; }
body.notation    .footer { background-color: #40657f; }
body.usage       .footer { background-color: #7f7f33; }
body.extending   .footer { background-color: #7f4040; }
body.internals   .footer { background-color: #6a407f; }
body.contributor .footer { background-color: #000000; }

.footer a:link {
  color: white;
}

.footer p {
  padding: 0 1.25em;
  margin: 0.4em 0;
}

table.menu {
  margin: 0 0 1em;
}

/***********************************************************/
/*               OVERRIDES FOR PRINTING                    */
/***********************************************************/

@media print {
  /* Hide the sidebar and make the main contents take up the full width */
  div#main { position: static; overflow: visible; left: 0; }
  div#tocframe { display: none; }
  /* Also don't show the navigation toolbars between all sections */
  .nav_table { display: none; }
}

/***********************************************************/
/*           FORMATTING of AJAX SEARCH BOX                 */
/***********************************************************/

div#search {
  border: none;
  border-bottom: 1pt solid #C5972C;
  background: #E8E3AC;
  padding-left: 3px;
  padding-top: 2px;
  padding-bottom: 1px;
}
div#search p, div#search form {
  padding: 0;
  margin: 0;
}
#search_results {
  font-size: 0.75em;
  padding: 0;
  margin: 0;
  display: none;
}
#search_results table {
  width: 100%;
}

/***********************************************************/
/*               OTHER                                     */
/***********************************************************/

.warning {
  background: #eef;
  text-align: left;
  padding: 0;
  border: 1px solid green;
  /* Experimental rounded corners */
  border-radius: 10px;
  margin: 1em;
}

body.learning    .warning { border-color: #00ff00; }
body.notation    .warning { border-color: #0095ff; }
body.usage       .warning { border-color: #ffff00; }
body.extending   .warning { border-color: #ff0000; }
body.internals   .warning { border-color: #aa00ff; }
body.contributor .warning { border-color: #000000; }


.advanced {
  background: #eeffcc;
  text-align: left;
  padding: 0;
  border: 1px solid green;
  /* Experimental rounded corners */
  border-radius: 10px;
  margin: 0.5em 0.5em 2em 3em;
}
