/* IE9 and IE8 lack support for CSS gradients so this file */
/* supplies background images for them instead. */

#quickSummary .subheading {
  background: #fff url(../pictures/summary-gradient.png) repeat-y 0 0;
}

a[name="Stable"] + h4 {
  background: #bdee9d url(../pictures/color1-bg.png) repeat-x top left;
}

a[name="Unstable"] + h4 {
  background: #fad58c url(../pictures/color3-bg.png) repeat-x top left;
}

.column-center-top h3 {
  background: #9ccc7c url(../pictures/color1-bg.png) repeat-x top left;
}

.column-left-top h3,
.column-left-bottom h3 {
  background: #adce82 url(../pictures/color2-bg.png) repeat-x top left;
}

.column-right-top h3,
.column-right-bottom h3 {
  background: #bdd088 url(../pictures/color3-bg.png) repeat-x top left;
}

.column-center-bottom h3 {
  background: #ccd38f url(../pictures/color4-bg.png) repeat-x top left;
}
