/* IE9 and IE8 lack support for CSS gradients so this file */
/* supplies background images for them instead. */

/* Table of Contents */
/* first level toc (unnumbered) */

div#tocframe {
  background: url(../pictures/nav1-bg.png) repeat-x top left;
}

#tocframe li a:hover {
  background: url(../pictures/nav1-hover.png);
}

#tocframe li.toc_current a,
#tocframe li.toc_current a:hover {
  background: url(../pictures/nav1-active.png);
}

/* second level toc (unnumberedsec) */

#tocframe .toc .toc li a {
  background: url(../pictures/nav2-bg.png);
}

#tocframe .toc .toc li a:hover {
  background: url(../pictures/nav2-hover.png);
}

#tocframe .toc .toc li.toc_current a,
#tocframe .toc .toc li.toc_current a:hover {
  background: url(../pictures/nav2-active.png);
}

/* Columns */

.column-center-top h3 {
  background: #9ccc7c url(../pictures/color1-bg.png) repeat-x top left;
}

.column-left-top h3,
.column-left-bottom h3,
.column-center-middle-color2 h3,
.news-item h3 {
  background: #adce82 url(../pictures/color2-bg.png) repeat-x top left;
}

.column-right-top h3,
.column-right-bottom h3,
.column-center-middle-color3 h3 {
  background: #bdd088 url(../pictures/color3-bg.png) repeat-x top left;
}

.column-center-bottom h3 {
  background: #ccd38f url(../pictures/color4-bg.png) repeat-x top left;
}
