#!/usr/bin/make -f
# Made with the aid of debhelper by by Joey Hess,
# based on the sample debian/rules file for GNU hello by Ian Jackson.
#
# This is free software; see the GNU General Public Licence
# version 2 or later for copying conditions.  There is NO warranty.
#
# Currently maintained by Anthony Fok <foka@debian.org>
# for Debian GNU/Linux.

package = lilypond

SHELL = /bin/sh
r = debian/tmp
d = usr/doc/$(package)

strayfiles := stepmake/bin/*.pyc \
	stepmake/stepmake/stepmake \
	stepmake/stepmake/bin \
	GNUmakefile stepmake/GNUmakefile \
	config.h \
	wwwlist \
	Documentation/tex/fonts.aux \
	Documentation/tex/fonts.log \
	Documentation/tex/feta*.tfm \
	Documentation/tex/feta*.*pk

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh_testdir

	CC=egcc ./configure --disable-checking --disable-debugging \
		--enable-printing --prefix=/usr --disable-optimise \
		--enable-shared
	$(MAKE) all
	$(MAKE) -C Documentation/tex dvi

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp install-stamp
	-$(MAKE) distclean
	dh_clean

	# Remove the following line once the *.make files are fixed
	rm -f $(strayfiles)

	# Correct the owner of the out/dummy.dep files when built with sudo.
	if [ -n "$$SUDO_USER" -a -n "$$SUDO_GID" ]; then \
		find . -user root | xargs -r chown $$SUDO_USER.$$SUDO_GID; \
	fi

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs usr/doc/texmf \
		usr/lib/emacs/site-lisp \
		usr/doc/$(package)/examples \
		usr/lib/texmf/tex \
		usr/lib/texmf/fonts/source/public \
		usr/lib/texmf/fonts/afm/public
	ln -fs ../lilypond $(r)/usr/doc/texmf/lilypond

	$(MAKE) prefix=`pwd`/$(r)/usr install

	ln -s ../../../share/lilypond/tex $(r)/usr/lib/texmf/tex/lilypond
	ln -s ../../../../../share/lilypond/mf $(r)/usr/lib/texmf/fonts/source/public/lilypond
	ln -s ../../../../../share/lilypond/afm $(r)/usr/lib/texmf/fonts/afm/public/lilypond

	touch install-stamp

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

binary-arch: build install
	dh_testdir
	dh_testroot
	cp -av mudela-mode.el $(r)/usr/lib/emacs/site-lisp
	dh_installdocs ANNOUNCEMENT ANNOUNCE-0.1 NEWS* DEDICATION \
		BUGS TODO *.txt \
		Documentation/pictures/*.xpm \
		Documentation/out/*.txt \
		Documentation/tex/*.bib \
		Documentation/tex/out/*.dvi
#	dh_installexamples input
	cp -aP `find input mutopia \( -name '*.ly' -o -name '*.tex' -o -name 'TODO' \)` \
		$(r)/$(d)/examples
	for i in `find $(r)/$(d)/examples/ -type d -name out`; do \
		mv -fv $$i/* $$i/..; rmdir $$i; done
#	dh_installmenu
#	dh_installemacsen
#	dh_installcron
#	dh_installmanpages
#	dh_undocumented
	dh_installchangelogs
#	dh_strip
	dh_compress
	( cd $(r)/$(d) && \
		if [ -f NEWS ]; then gzip -9vf NEWS; fi )
	ln -s NEWS.gz $(r)/$(d)/changelog.gz
	dh_fixperms
	dh_suidregister
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
#	dh_makeshlibs
	dh_md5sums
	dh_builddeb

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean install binary-indep binary-arch binary
