/***********************************************************/
/*                    BASE STYLES                          */
/***********************************************************/

body {
  height: 100%;
  font-size: 100%;
  min-height: 0;
  text-align: center;
}

/***********************************************************/
/*                    MAIN CONTENT                         */
/***********************************************************/

div#main {
  min-height: 0;
  height: 100%;
  width: 73%;
  overflow-x: auto;
}

table.menu {
  margin-left: 1em;
}

.nav_table {
  width: 100%;
}

blockquote {
  width: 100%;
  margin: 1em 1%;
}

/***********************************************************/
/*                    TOC SIDEBAR                          */
/***********************************************************/

div#tocframe {
  height: 100%;
  width: 27%;
}

/***********************************************************/
/*                    NAVIGATION                           */
/***********************************************************/

table#navigation {
  margin: 1em auto;
}


/***********************************************************/
/*                IE CENTERING FIXES                       */
/***********************************************************/

table#navigation, div#tocframe, div#main,
p, .footer, #languages {
  text-align: left;
}

div.subheader p {
  text-align: center;
}

