/***********************************************************/
/*                    TOC SIDEBAR                          */
/***********************************************************/
body {
  height: 100%;
  font-size: 100%;
  min-height: 0;
}

/***********************************************************/
/*                    MAIN CONTENT                         */
/***********************************************************/

div#main {
  min-height: 0;
  height: 100%;
  width: 73%;
  overflow-x: auto;
}

/***********************************************************/
/*                    TOC SIDEBAR                          */
/***********************************************************/

div#tocframe {
  height: 100%;
  width: 27%;
}
